html,
body {
    width: 100%;
    height: 100%;
}

body {
    filter: url('#gooey');
}

att-spin{
    visibility: visible;
    opacity: 1;
    z-index: 13;
    transition: .2s;
}
att-spin.hide{
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: .2s;
}
att-spin > .overlay{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:13;
    background-color: rgb(45,45,45)
}

.blob {
    width: 1rem;
    height: 1rem;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 1rem);
    top: calc(50% - 1rem);
    /*box-shadow: 0 0 1rem rgba(255, 255, 255, 0.1);*/
    z-index: 14;
}

.blob-2 {
    animation: animate-to-2 1.5s infinite;
}

.blob-3 {
    animation: animate-to-3 1.5s infinite;
}

.blob-1 {
    animation: animate-to-1 1.5s infinite;
}

.blob-4 {
    animation: animate-to-4 1.5s infinite;
}

.blob-0 {
    animation: animate-to-0 1.5s infinite;
}

.blob-5 {
    animation: animate-to-5 1.5s infinite;
}

@keyframes animate-to-2 {
    25%,
    75% {
        transform: translateX(-1.5rem) scale(0.75);
    }
    95% {
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-3 {
    25%,
    75% {
        transform: translateX(1.5rem) scale(0.75);
    }
    95% {
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-1 {
    25% {
        transform: translateX(-1.5rem) scale(0.75);
    }
    50%,
    75% {
        transform: translateX(-4.5rem) scale(0.6)
    }
    95% {
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-4 {
    25% {
        transform: translateX(1.5rem) scale(0.75);
    }
    50%,
    75% {
        transform: translateX(4.5rem) scale(0.6)
    }
    95% {
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-0 {
    25% {
        transform: translateX(-1.5rem) scale(0.75);
    }
    50% {
        transform: translateX(-4.5rem) scale(0.6)
    }
    75% {
        transform: translateX(-7.5rem) scale(0.5)
    }
    95% {
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-5 {
    25% {
        transform: translateX(1.5rem) scale(0.75);
    }
    50% {
        transform: translateX(4.5rem) scale(0.6)
    }
    75% {
        transform: translateX(7.5rem) scale(0.5)
    }
    95% {
        transform: translateX(0rem) scale(1);
    }
}