<main>
	<ng-menu source="menu"></ng-menu>

	<ul class="row">
		<li class="md-col-12 sm-col-12 lg-col-12"> <h1>HTTP</h1> </li>
		<li class="md-col-12 sm-col-12 lg-col-12"> <h2>Main methods for api.node</h2> </li>
		<li class="md-col-4 sm-col-12 lg-col-4">
			<ng-input ng-model="testId" place-holder="testId" ></ng-input>
		</li>
		<li class="md-col-4 sm-col-12 lg-col-4">
			<ng-input ng-model="name" place-holder="name" ></ng-input>
		</li>
		<li class="md-col-4 sm-col-12 lg-col-4">
			<ng-input ng-model="description" place-holder="description" ></ng-input>
		</li>
	</ul>
	
	<ul class="row">
		<li class="md-col-12 sm-col-12 lg-col-12"> <button ng-click="save()">POST</button> </li>
		<li class="md-col-12 sm-col-12 lg-col-12"> <button ng-click="testId.length && get()" ng-class="{disable:!testId.length}" >GET</button> </li>
		<li class="md-col-12 sm-col-12 lg-col-12"> <button ng-click="getAll()">GET ALL</button> </li>
		<li class="md-col-12 sm-col-12 lg-col-12"> <button ng-click="testId.length && update()" ng-class="{disable:!testId.length}">UPDATE</button> </li>
		<li class="md-col-12 sm-col-12 lg-col-12"> <button ng-click="testId.length && delete()" ng-class="{disable:!testId.length}">DELETE</button> </li>
	</ul>

	<ul class="row" ng-show="homeList.length">
		<li class="md-col-12 sm-col-12 lg-col-12"> <h2>Ressult</h2> </li>
	</ul>
	
	<ul ng-show="homeList.length">
		<li class="md-col-12 sm-col-12 lg-col-12"> 
			<table>
				<tr>
					<th>testId</th>
					<th>name</th>
					<th>description</th>
				</tr>
				<tr ng-repeat="item in  homeList">
					<td>{{item.testId}}</td>
					<td>{{item.name}}</td>
					<td>{{item.description}}</td>
				</tr>
			</table> 
		</li>
	</ul>
	
</main>

<ng-alert show="alertActive" title="Alert">
	<ul class="row">
		<li class="md-col-12 sm-col-12 lg-col-12"> 
			{{serverError}}
		</li>
	</ul>
</ng-alert>