att-header{
	width: 100%;
    height: 55px;
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(17,18,20);
    z-index: 10;
    text-align: center;
    display: table-cell;
    display: table;
}
att-header header{
    height: inherit;
    display: table-cell;
    vertical-align: middle;
}
att-header h2{
    margin: 0;
    display: inline;
    padding: 0 4px;
}