
@font-face{
	font-family: ATTAleckSans_Lt;
	src: url(../fonts/ATTAleckSans_Lt.ttf);
}
@font-face{
	font-family: ATTAleckSans_Md;
	src: url(../fonts/ATTAleckSans_Md.ttf);
}
@font-face{
	font-family: ATTAleckSans_Rg;
	src: url(../fonts/ATTAleckSans_Rg.ttf);
}
@font-face{
	font-family: ATTAleckSans_Bd;
	src: url(../fonts/ATTAleckSans_Bd.ttf);
}


@font-face{
	font-family: Gloriola_Lt;
	src: url(../fonts/Gloriola_Light.otf);
}
@font-face{
	font-family: Gloriola_Md;
	src: url(../fonts/Gloriola_Semibold.otf);
}
@font-face{
	font-family: Gloriola_Rg;
	src: url(../fonts/Gloriola_Regular.otf);
}
@font-face{
	font-family: Gloriola_Bd;
	src: url(../fonts/Gloriola_Bold.otf);
}

*{
	box-sizing: border-box;
}

body, input, button,textarea{
	font-family: ATTAleckSans_Rg, sans-serif;
	font-weight: 100;
	line-height: 1.2;
	color: rgba(0,0,0,.6);
	font-size: 18px;
	margin: 0;
	padding: 0;
	background-color: rgb(249,249,249);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body .yellow , .yellow input,.yellow  button,.yellow textarea{
	font-family: Gloriola_Rg, sans-serif;
}

ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color: rgb(100,100,100);
	-webkit-touch-callout: none;
}


a, input, button {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

b{
	font-family: ATTAleckSans_Bd, sans-serif;
	color: rgba(0,0,0,.8)
}
.yellow b{
	font-family: Gloriola_Bd, sans-serif;
}

button{
	width: 100%;
	height: 50px;
	border:0;
	background-color: rgb(200,200,200);
	cursor: pointer;
}
input{
	width: 100%;
	height: 50px;
	border:0;
	border-bottom: 1px solid rgb(200,200,200);
	text-align: center;
}

main{
	height:100vh;
	position: relative;
	padding-top: 55px;
}

section{
	margin: auto;
	max-width: 800px;
	position: relative;
}

h1{
	font-family: ATTAleckSans_Bd, sans-serif;
	font-weight: normal;
	font-size: 22px;
	
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}
h2{
	font-weight: normal;
	letter-spacing: 1.5px;
	font-size: 18px;
}
h3{
	font-weight: normal;
	font-size: 14px;
	margin: 0;
}
h1{
	font-family: ATTAleckSans_Bd, sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
h2, h3{
	font-family: ATTAleckSans_Md, sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.yellow h1{
	font-family: Gloriola_Bd, sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
.yellow h2,.yellow  h3{
	font-family: Gloriola_Md, sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

hr{
	height: 1px;
	border: none;
	background-color: rgb(239,239,239)
}

.f-light{
	font-family: ATTAleckSans_Lt, sans-serif;
}
.f-medium{
	font-family: ATTAleckSans_Md, sans-serif;
}
.blue .f-regular{
	font-family: ATTAleckSans_Rg, sans-serif;
}
.yellow .f-regular{
	font-family: Gloriola_Rg, sans-serif;
}

.yellow .f-light{
	font-family: Gloriola_Lt, sans-serif;
}
.yellow .f-medium{
	font-family: Gloriola_Md, sans-serif;
}
.c-white{
	color: rgb(255,255,255);
}
.c-gray{
	color: rgba(0,0,0,.6);
}
.c-black{
	color: rgba(0,0,0,1);
}
.b-white{
	background-color: rgb(255,255,255);
}
.t-center{
	text-align: center;
}
.t-right{
	text-align: right;
}
.blue .c-var{
	color: rgb(0,159,219);
}
.fs-36{
	font-size: 36px;
}
.fs-13{
	font-size: 13px;
}
.fs-12{
	font-size: 12px;
}

.blue .tabs .tab.active{
	border-bottom: 1px solid rgb(0,159,219);
	color: rgb(0,159,219);
}


.yellow .c-var{
	color: rgb(255,198,0);
}

.yellow att-header{
	background-color: rgb(45,45,45);
}
.yellow .tabs .tab.active{
	border-bottom: 1px solid rgb(255,198,0);
	color: rgb(255,198,0);
}

.blue .c-variable{
	color: rgb(0,159,219);
}
.yellow .c-variable{
	color: rgb(255,198,0);
}
.blue button{
	background-color: rgb(0,159,219);
}
.yellow button{
	background-color:rgb(255,198,0);
}


.item-row-full{
	width: 100%;
	height: 56px;
	border-bottom: 1px solid rgb(239,239,239);
	background-color: rgb(255,255,255);
}
.section-content{
	margin: auto;
	width: 100%;
	max-width: 800px;
	display: table;
	height: inherit;
	padding-left: 10px;
	padding-right: 10px;
}
.wrapper-item{
	/* height: 78px; */
}
.item-row{
	width: calc(100% - 20px);
	height: 68px;
	box-shadow: 0 2px 0 rgb(224,224,224);
	background-color: rgb(255,255,255);
	display: table;
	border-radius: 5px;
	position: relative;
	z-index: 3;
	cursor: pointer;
	margin: 10px;
}
.item-col{
	display: table-cell;
	vertical-align: middle;
	font-family: ATTAleckSans_Lt, sans-serif;
}
.yellow .item-col{
	font-family: Gloriola_Lt, sans-serif;
}
.item-row-empty{
	margin: 10px;
	padding: 10px 3px;
	display: table;
	width: calc(100% - 20px);
}
.item-ico{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-repeat: no-repeat;
	background-position: center;
}
.item-ico-arrow{
	display: inline-block;
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
	transition: .3s;
	transform: rotate(0deg);
}
.width-114{
	width: 114px;
}
.width-40{
	width: 40px;
}
.width-20{
	width: 20px;
}
.width-36{
	width: 36px;
}
.width-150{
	width: 150px;
}
.padding-lr-20{
	padding: 0 20px;
}

.blue .att-internet-slim{ background-image: url(icon/internet_slim_blue.svg);}
.blue .att-group-slim{ background-image: url(icon/group_slim_blue.svg);}
.blue .att-caller-history-slim{ background-image: url(icon/caller_history_slim_blue.svg);}
.blue .att-messaging-slim{ background-image: url(icon/messaging_slim_blue.svg);}
.blue .att-data-visualization-slim{ background-image: url(icon/data_visualization_slim_blue.svg);}
.blue .att-money-slim{ background-image: url(icon/money_slim_blue.svg);}
.blue .att-a-slim{ background-image: url(icon/a_slim_blue.svg);} 
.blue .att-arrow-regular{ background-image: url(icon/arrow_regular_blue.svg)}

.yellow .att-internet-slim{ background-image: url(icon/internet_slim_yellow.svg);}
.yellow .att-group-slim{ background-image: url(icon/group_slim_yellow.svg);}
.yellow .att-caller-history-slim{ background-image: url(icon/caller_history_slim_yellow.svg);}
.yellow .att-messaging-slim{ background-image: url(icon/messaging_slim_yellow.svg);}
.yellow .att-data-visualization-slim{ background-image: url(icon/data_visualization_slim_yellow.svg);}
.yellow .att-money-slim{ background-image: url(icon/money_slim_yellow.svg);}
.yellow .att-a-slim{ background-image: url(icon/a_slim_yellow.svg);}
.yellow .att-arrow-regular{ background-image: url(icon/arrow_regular_yellow.svg)}


.att-ilimitada{ background-image: url(icon/ilimitada_gray.svg);}
.att-icluida{ background-image: url(icon/incluida_gray.svg);}
.att-bolsas{ background-image: url(icon/bolsas_gray.svg)}
.att-saldo{ background-image: url(icon/saldo_gray.svg);}
.att-beneficios{ background-image: url(icon/beneficios_gray.svg);}

.blue .active .att-ilimitada{ background-image: url(icon/ilimitada_blue.svg);}
.blue .active .att-icluida{ background-image: url(icon/incluida_blue.svg);}
.blue .active .att-bolsas{ background-image: url(icon/bolsas_blue.svg)}
.blue .active .att-saldo{ background-image: url(icon/saldo_blue.svg);}
.blue .active .att-beneficios{ background-image: url(icon/beneficios_blue.svg);}

.yellow .active .att-ilimitada{ background-image: url(icon/ilimitada_yellow.svg);}
.yellow .active .att-icluida{ background-image: url(icon/incluida_yellow.svg);}
.yellow .active .att-bolsas{ background-image: url(icon/bolsas_yellow.svg)}
.yellow .active .att-saldo{ background-image: url(icon/saldo_yellow.svg);}
.yellow .active .att-beneficios{ background-image: url(icon/beneficios_yellow.svg);}

.att-consumo-internet{ background-image: url(icon/consumo_internet_gray.svg); }
.att-consumo-llamadas{ background-image: url(icon/consumo_llamadas_gray.svg); }
.att-consumo-mensajes{ background-image: url(icon/consumo_mensajes_gray.svg); }

.blue .active .att-consumo-internet{ background-image: url(icon/consumo_internet_blue.svg); }
.blue .active .att-consumo-llamadas{ background-image: url(icon/consumo_llamadas_blue.svg); }
.blue .active .att-consumo-mensajes{ background-image: url(icon/consumo_mensajes_blue.svg); }

.yellow .active .att-consumo-internet{ background-image: url(icon/consumo_internet_yellow.svg); }
.yellow .active .att-consumo-llamadas{ background-image: url(icon/consumo_llamadas_yellow.svg); }
.yellow .active .att-consumo-mensajes{ background-image: url(icon/consumo_mensajes_yellow.svg); }

.blue .icon-passcode{background-image: url(icon/ico_passcode_blue.svg);}
.yellow .icon-passcode{background-image: url(icon/ico_passcode_yellow.svg);}

.icon-passcode{
	width: 50px;
	height: 60px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
}
.to-detail .item-row{
	visibility: hidden;
}
.overview{
	top: 111px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(249,249,249);
	opacity: 0;
	visibility: hidden;
	position: fixed;
	z-index: 3;
	height: 100%;
}
.alert-detail{
	top:0px;
	left: 10px;
	right: 10px;
	position: absolute;
	height: 0px;
	background-color: rgb(255,255,255);
	z-index: 5;
	padding: 13px;
	padding-top:69px;
	visibility: hidden;
	box-shadow: 0 2px 0 rgb(224,224,224);
	border-radius: 5px;
	transition: .3s;
	overflow: hidden;
	opacity: 0;
}

.wrapper-item-cloned.transition .overview{
	opacity: 1;
	visibility: visible;
}
.wrapper-item-cloned.transition .alert-detail{ 
	height: auto;
	transition: .3s;
	visibility: visible;
	transition: .3s;
	opacity: 1;
	margin-bottom: 20px;
}
.wrapper-item-cloned.transition .item-ico-arrow{
	transition: .3s;
	transform: rotate(180deg);
}


.wrapper-item-cloned{
	width: 100%;
	position: absolute;
	transition: .3s;
}
.wrapper-item-cloned.transition{
	transition: .3s;
	top:0px!important;
}

.wrapper-item-cloned .item-row{
	z-index: 6;
	box-shadow: none;
}

.tabs{
	height: 70px;
	display: table;
	width: 100%;
}
.tabs > div{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.tabs.col-1 > div{
	width: 100%;
}
.tabs.col-2 > div{
	width: 50%;
}
.tabs.col-3 > div{
	width: 33.3%;
}

.tabs .tab{
	border-bottom: 1px solid rgba(151,151,151,.16);
	cursor: pointer;
}
.tabs .tab i{
	height: 18px;
	width: 18px;
	display: block;
	margin: auto;
	background-repeat: no-repeat;
	background-position: center;
}
.tabs-content{
	height: auto;
}
.tabs-content > .tab-content{
	height: 0px;
	transition: .3s;	
	overflow: hidden;
	visibility: hidden;
}
.tabs-content > .tab-content.animation{
	height: auto;
	transition: .3s;
	visibility: visible;
}

.border-bottom-gray{
	border-bottom: 1px solid rgba(151,151,151,.16);
}

.padding-left-20{
	padding-left: 20px;
}

.wrapper-chart{
	height: 250px;
}

.cursor-pointer{
	cursor: pointer;
}

i.item-radio{
	width: 18px;
	height: 18px;
	border-radius: 9px;
	border: 1px solid rgb(151,151,151);
	display: inline-block;
	vertical-align: bottom;
	margin-right: 4px;
	cursor: pointer;
}

.yellow i.item-radio.active{
	border: 5px solid rgb(255,198,0);
}
.blue i.item-radio.active{
	border: 5px solid rgb(0,159,219);
}

table.detalle-consumos{
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
table.detalle-consumos thead{
	background-color: rgb(241,241,241);
}
table.detalle-consumos th{
	padding: 10px 20px;
	font-weight: normal;
}
table.detalle-consumos td{
	padding: 10px 20px;
	font-weight: normal;
	border-bottom: 1px solid rgb(222,222,222);
}

.overflow-auto{
	overflow:auto;
}

.wrapper-inputs input{
	width: 42px;
	height: 44px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: rgb(241, 241, 241);
	margin: 2px;
	border: none;
}

.wrapper-label-input{
	padding: 4px 10px;
}

.warpper-inputs-group{
	width: 292px;
	margin: auto;
}

.c-pointer{
	cursor: pointer;
}
.c-red{
	color: red;
}

button{
	max-width: 292px;
	height: 44px;
	color: white;
	border-radius: 5px;
}

att-alert{

}
att-alert .alert{
	position: absolute;
    top: 55px;
    left: 0;
	right: 0;
	background-color: white;
	height: calc(100% - 40px);
}

att-alert .header{
	color: white;
	height: 50px;
	display: table;
	width: 100%;
	text-align: center;
}

att-alert .ok .header{
	background-color: rgb(76,169,12);
}
att-alert .fail .header{
	background-color: red;
}

att-alert .content{
	padding: 20px;
	text-align: center;
	color: rgba(0,0,0,.4);
	max-width: 800px;
	margin: auto;
}
att-alert .content i.icon{
	width: 50px;
	height: 50px;
	display: block;
	margin: auto;
}
att-alert .ok .content i.icon{
	background-image: url(icon/);
}	
att-alert .content i.msj{
	width: 50px;
	height: 50px;
	display: block;
	margin: auto;
}
att-alert .content i.prompt{
	width: 50px;
	height: 50px;
	display: block;
	margin: auto;
	font-size: 16px;
}