<att-spin ng-class="{hide:spin}"></att-spin>
<main ng-class="cartera.color" ng-class="{'to-detail': item.toDetail}">
		<att-header h1="cartera.titulo" h2="cartera.career" ></att-header>
		
	
		<div class="item-row-full">
			<div class="section-content">
				<div class="item-col">El fecha de corte es el:</div> 
				<div class="item-col t-right"><b>13 de mayo</b></div>
			</div>
		</div>
		<section id="contentItems">
			<div class="item-row-empty">
				<b class="c-gray">
					Hoy cuentas con:
				</b>
			</div>
			<div class="wrapper-item" ng-repeat="item in cartera.grupos" ng-class="{'to-detail': item.toDetail}" id="iditem{{$index}}">
				<div class="item-row" ng-click="showDetail(item, 'iditem' + $index)">
					<div class="item-col width-40 padding-lr-20">
						<i class="item-ico" ng-class="item.icon"></i>
					</div>
					<div class="item-col">
						<span>{{item.nombre}}</span>
					</div>
					<div class="item-col width-114 t-center">
						<h1><b>{{item.disponible}}</b></h1>
					</div>
					<div class="item-col width-36">
						<i class="item-ico-arrow att-arrow-regular"></i>
					</div>
				</div>
				<div class="overview"></div>
				<div class="alert-detail">
					<hr>
					
					<div class="tabs" ng-class="getColums(item)">
						<div ng-if="item.ilimitado" class="tab" ng-class="{ 'active' : item.tabs.ilimitado }" ng-click="resetTabs(item.tabs); item.tabs.ilimitado = true; ">
							<i class="icon att-ilimitada"></i>
							<h3>Descripción</h3>
							<h3>Ilimitados</h3>
						</div>
						<div ng-if="item.limitado" class="tab"  ng-class="{ 'active' : item.tabs.limitado }" ng-click="resetTabs(item.tabs); item.tabs.limitado = true;">
							<i class="icon att-icluida"></i>
							<h3>Descripción</h3>
							<h3>Incluidos</h3>
						</div>
						<div ng-if="item.bolsas" class="tab" ng-class="{ 'active' : item.tabs.bolsas }"  ng-click="resetTabs(item.tabs); item.tabs.bolsas = true;">
							<i class="icon att-bolsas"></i>
							<h3>Bolsas</h3>
						</div>
						<div ng-if="item.saldo" class="tab" ng-class="{ 'active' : item.tabs.saldo }"  ng-click="resetTabs(item.tabs); item.tabs.saldo = true;">
							<i class="icon att-saldo"></i>
							<h3>Saldo</h3>
							<h3>Comprado</h3>
						</div>
						<div ng-if="item.beneficios" class="tab" ng-class="{ 'active' : item.tabs.beneficios }"  ng-click="resetTabs(item.tabs); item.tabs.beneficios = true;">
							<i class="icon att-beneficios"></i>
							<h3>Saldo</h3>
							<h3>Beneficios</h3>
						</div>
						<div ng-if="item.monedas" class="tab" ng-class="{ 'active' : item.tabs.monedas }"  ng-click="resetTabs(item.tabs); item.tabs.monedas = true;">
							<i class="icon att-saldo"></i>
							<h3>Monedas</h3>
						</div>
				</div>

					<div class="tabs-content">
						<div ng-if="item.ilimitado" class="tab-content" ng-class="{ 'animation' : item.tabs.ilimitado }">
							<div class="item-row-empty border-bottom-gray">
								<div class="item-col">
										<span> </span><br>
									<h1><b>Ilimitados</b></h1>
								</div>
								<div class="item-col">
										<span> </span><br>
										<h1><b class="fs-36 c-gray">-</b></h1>
								</div>
								<div class="item-col width-114 t-center">
									<span>Consumidos</span><br>
									<h1><b>{{item.ilimitado.consumido}}</b></h1>
								</div>
							</div>
							<div>
								<h2>Descripción</h2>
								<p>
									{{item.ilimitado.descripcion}}
								</p>
							</div>
						</div>
						<div ng-if="item.limitado" class="tab-content"  ng-class="{ 'animation' : item.tabs.limitado }">
								<div class="item-row-empty border-bottom-gray">
									<div class="item-col width-114 t-center">
										<span>Incluidos</span><br>
										<h1><b>{{item.limitado.incluido}}</b></h1>
									</div>
									<div class="item-col">
											<span> </span><br>
											<h1><b class="fs-36 c-gray">-</b></h1>
									</div>
									<div class="item-col width-114 t-center">
										<span>Consumidos</span><br>
										<h1><b>{{item.limitado.consumido}}</b></h1>
									</div>
									<div class="item-col">
											<span> </span><br>
											<h1><b class="fs-36 c-gray">=</b></h1>
									</div>
									<div class="item-col width-114 t-center">
										<span>Disponible</span><br>
										<h1><b>{{item.limitado.disponible}}</b></h1>
									</div>
								</div>
								<div>
									<h2>Descripción</h2>
									<p>
										{{item.ilimitado.descripcion}}
									</p>
								</div>
						</div>
						<div ng-if="item.bolsas" class="tab-content" ng-class="{ 'animation' : item.tabs.bolsas }">
							
							<div class="item-row-empty">
								<div class="item-col c-black">
										<h3>Las bolsas que componen tu servicio son:</h3>
								</div>
							</div>
							<div class="item-row-empty" ng-repeat="bolsa in item.bolsas">
								<div class="item-col">
									{{bolsa.nombre}}
								</div>
								<div class="item-col t-right padding-left-20">
										{{bolsa.incluido}}
								</div>
							</div>
							<!-- <div class="item-row-empty">
									<div class="item-col c-black">
											<h3>Las bolsas que componen tu servicio son:</h3>
									</div>
								</div> -->

						</div>

						<div ng-if="item.saldo" class="tab-content"  ng-class="{ 'animation' : item.tabs.saldo }">
								<div class="item-row-empty border-bottom-gray">
									<div class="item-col width-114 t-center">
										<span>Saldo</span><br>
										<h1><b>{{item.saldo.saldo}}</b></h1>
									</div>
								</div>
								<div>
									<h2>Descripción</h2>
									<p>
										{{item.saldo.descripcion}}
									</p>
								</div>
						</div>
						<div ng-if="item.beneficios" class="tab-content"  ng-class="{ 'animation' : item.tabs.beneficios }">
								<div class="item-row-empty border-bottom-gray">
									<div class="item-col width-114 t-center">
										<span>Saldo</span><br>
										<h1><b>{{item.beneficios.saldo}}</b></h1>
									</div>
								</div>
								<div>
									<h2>Descripción</h2>
									<p>
										{{item.beneficios.descripcion}}
									</p>
								</div>
						</div>
						<div ng-if="item.monedas" class="tab-content"  ng-class="{ 'animation' : item.tabs.monedas }">
								<div class="item-row-empty border-bottom-gray">
									<div class="item-col width-114 t-center">
										<span>Saldo</span><br>
										<h1><b>{{item.monedas.saldo}}</b></h1>
									</div>
								</div>
								<div>
									<h2>Descripción</h2>
									<p>
										{{item.monedas.descripcion}}
									</p>
								</div>
						</div>


					</div>
				</div>
			</div>

			<div class="item-row-empty">
				<div class="item-col">Tu próxima asignación será en:</div> 
				<div class="item-col t-right"><b>25 días</b></div>
			</div>

			<hr>
	
			<div class="item-row-empty">
				<b class="c-gray">
					¿Alguna duda con tus consumos? 
				</b>
			</div>

			<div class="wrapper-item" ng-class="{'to-detail': item.toDetail}" id="iditemConsumos">
				<div class="item-row" ng-click="showConsumos('iditemConsumos')">
						<div class="item-col width-40 padding-lr-20">
							<i class="item-ico att-data-visualization-slim"></i>
						</div>
						<div class="item-col">
							<span>Consumos</span>
						</div>
						<div class="item-col width-114 t-center">
							<h1><b></b></h1>
						</div>
						<div class="item-col width-36">
							<i class="item-ico-arrow att-arrow-regular"></i>
						</div>
					</div>
					<div class="overview"></div>
					<!-- <div class="alert-detail">
						<hr>
					</div> -->
				</div>
			</section>
		</section>


	
	</main>



	<div id="contentConsumos" class="alert-detail">
		<hr>
		<div class="tabs col-3">
			<div class="tab" ng-repeat="item in consumos" ng-class="{ 'active' : item.active }"  ng-click="resetConsumosTabs(item);">
				<i class="icon" ng-class="item.icono"></i>
				<h3>{{item.tipo}}</h3>
			</div>
		</div>
		<div class="tabs col-3 fs-12">
			<div>
				Seleciona un periodo
			</div>
			<div class="t-right" ng-click="changePeriodo(0)">
				<i class="item-radio" ng-class="{active: radioPeriodo[0].active}"></i>
				<span>Actual</span>
			</div>
			<div class="t-right" ng-click="changePeriodo(1)">
				<i class="item-radio" ng-class="{active: radioPeriodo[1].active}"></i>
				<span>Anterior</span>
			</div>
		</div>
		<div class="wrapper-chart">
			<canvas id="myChart"></canvas>
		</div>
		<div class="overflow-auto">
			<table class="detalle-consumos">
				<thead>
					<tr>
						<th ng-repeat="item in consumosTable.titulos">{{item}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in consumosTable.contenido">
						<td ng-repeat="jtem in item">{{jtem}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>