
<att-spin ng-class="{hide:spin}"></att-spin>	
<main ng-class="info.color" class="b-white">
	<att-header h1="info.titulo" h2="info.career" ></att-header>
	
	<section id="contentItems">
		<div class="item-row-empty t-center">
			<b class="c-gray">
				Ingresa tu Passcode
			</b>
		</div>
		<div class="item-row-empty t-center">
			<i class="icon-passcode"></i>
		</div>
		<div class="item-row-empty t-center ">
			<h3>
				Debe estar integrado por 6 numeros
			</h3>
		</div>
		<div class="item-row-empty fs-12">
			<div>
			<div class="warpper-inputs-group">
				<div class="wrapper-label-input">Ingresa tu passcode</div>
				<div class="wrapper-inputs">
					<input class="input-card" id="card1" type="text" maxlength="1" pattern="\d*">
					<input class="input-card" id="card2" type="text" maxlength="1"pattern="\d*">
					<input class="input-card" id="card3" type="text" maxlength="1"pattern="\d*">
					<input class="input-card" id="card4" type="text" maxlength="1"pattern="\d*">
					<input class="input-card" id="card5" type="text" maxlength="1"pattern="\d*">
					<input class="input-card" id="card6" type="text" maxlength="1"pattern="\d*">
				</div>
				<div class="wrapper-label-input c-red" ng-show="passcodeFail">Passcode incorrecto</div>
			</div>
			</div>
		</div>
		<div class="item-row-empty">
			<hr>
		</div>
		<div class="item-row-empty t-center ">
			¿No recuerdas o no conoces tu passcode?
		</div>
		<div ng-click="recoverPasscode()" class="item-row-empty t-center c-variable c-pointer">
			Recuperar Passcode
		</div>
	</section>

	<att-alert options="obtionsAlert"></att-alert>
</main>

