<main ng-class="info.color" class="b-white">
	<att-header h1="info.titulo" h2="info.career" ></att-header>
	
	<section id="contentItems">
		<div class="item-row-empty t-center">
			<b class="c-gray">
				Genera tu nuevo Passcode
			</b>
		</div>
		<div class="item-row-empty t-center">
			<i class="icon-passcode"></i>
		</div>
		<div class="item-row-empty t-center ">
			<h3>
				Debe estar integrado por 6 números
			</h3>
		</div>
		<div class="item-row-empty fs-12">
			<div>
			<div class="warpper-inputs-group">
				<div class="wrapper-label-input">Ingresa tu passcode</div>
				<div class="wrapper-inputs">
					<input class="input-card" id="card1" type="text" maxlength="1">
					<input class="input-card" id="card2" type="text" maxlength="1">
					<input class="input-card" id="card3" type="text" maxlength="1">
					<input class="input-card" id="card4" type="text" maxlength="1">
					<input class="input-card" id="card5" type="text" maxlength="1">
					<input class="input-card" id="card6" type="text" maxlength="1">
				</div>
			</div>
			</div>
		</div>
		<div class="item-row-empty">
				<hr>
			</div>
		<div class="item-row-empty fs-12">
				<div>
				<div class="warpper-inputs-group">
					<div class="wrapper-label-input">Confirma tu passcode</div>
					<div class="wrapper-inputs">
						<input class="input-card2" id="cardd1" type="text" maxlength="1">
						<input class="input-card2" id="cardd2" type="text" maxlength="1">
						<input class="input-card2" id="cardd3" type="text" maxlength="1">
						<input class="input-card2" id="cardd4" type="text" maxlength="1">
						<input class="input-card2" id="cardd5" type="text" maxlength="1">
						<input class="input-card2" id="cardd6" type="text" maxlength="1">
					</div>
				</div>
				</div>
			</div>
		<div class="item-row-empty t-center c-variable">
			<button ng-click="valid()">ACEPTAR</button>
		</div>
	</section>
</main>